body {
  background-color: #352f5b !important;
}

input[type="text"],
input[type="text"]:focus {
  color: #fff;
  border: none;
  background: rgba(0, 0, 0, 0.2);
  max-width: 400px;
}

.tasks li {
  background-color: rgba(100, 100, 100, 0.3);
}

.complete li {
  background-color: rgba(100, 100, 100, 0.3);
}

.delete {
  cursor: pointer;
}

.check {
  cursor: pointer;
}

.back {
  cursor: pointer;
}
